<%- include("partials/head") %>
<%- include("partials/navbar") %>
<h1>The Home Page <%= "Hello world".toUpperCase() %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, ex magnam optio vero dolore et vel modi officiis,
    ducimus voluptatum, at quis quia quas. Dolores reiciendis atque dolor dolore vitae. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Dicta error aliquid voluptatem unde exercitationem labore culpa fuga perferendis
    nesciunt optio voluptas laudantium illo dolore enim eveniet molestiae, quo officiis architecto!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos a exercitationem dignissimos incidunt? Similique
    dolorem ex vero impedit tempore ipsum explicabo nostrum amet veniam tenetur ullam minus, perspiciatis eveniet
    doloribus!</p>
<%- include("partials/footer") %>